<div class="small_header">About <span class="red">RML</span></div>

<div class="about_rml_wrapper">

  <p class="about_p">Road<span class="red">Map</span> To Launch is a ten week program with the goal of getting ten teams ready to launch by the end of the program. The start date has not been finalized but it will be around the end of August. We are following Steve Blanks Lean Launchpad curriculum and we will bring in multiple experts who will teach each section of the course. Road<span class="red">Map</span> To Launch will culminate with the pitch party, Extreme Pitch.</p> 

  <p class="about_p">If you would like to be considered for a spot in the program or just be on the RML email list, please register <%= link_to 'here', new_team_path() %>.</p>

  <p class="about_p">Road<span class="red">Map</span> To Launch will be held every Tuesday for ten weeks at <%= link_to 'Gangplank', 'http://www.gangplankhq.com' %> from 6pm to 9pm. RML is joint program with <%= link_to 'Gangplank', 'http://www.gangplankhq.com' %> and <%= link_to 'ASU Venture Catalyst', 'http://www.asuventurecatalyst.org' %>. We are looking for teams with great ideas, the ability to execute them, and the williness to fully commit and participate in the program. If you </p>

  <p class="about_p">If you have any questions please email Ben Hall at benhall2121@yahoo.com</p>

</div>