<div class="small_header">About <span class="red">RML</span></div>

<div class="about_rml_wrapper">

	<p class="about_p">
	Road<span class="red">Map</span> To Launch is a ten week program that guides motivated entrepreneurs from business idea to implementation. 
	</p>

	<p class="about_p">
	The program follows the Lean Launchpad curriculum developed by serial silicon valley entrepreneur and Stanford professor Steve Blank. It guides entrepreneurs through crucial business startup phases including concept validation, product development, and development of go to market strategy. 
	</p>

	<p class="about_p">
	Road<span class="red">Map</span> To Launch is a joint program with <%= link_to 'Gangplank', 'http://www.gangplankhq.com' %> and <%= link_to 'ASU Venture Catalyst', 'http://www.asuventurecatalyst.org' %>. Classes are taught by experienced valley entrepreneurs and corporate professionals with unique experience in each Road<span class="red">Map</span> subject area.
	</p>

	<p class="about_p">
	Class will be held every Monday for ten weeks starting September 10th at <%= link_to 'Gangplank', 'http://www.gangplankhq.com' %> from 6pm to 9pm. 
	Pre-formed teams with great ideas, the ability to execute, and the willingness to commit may indicate their interest by completing the registration form at <%= link_to 'RoadMaptoLaunch.com', new_team_path() %>. If you have any questions please email Ben at benhall2121@yahoo.com
	</p>

</div>