body{
  background-color:#012345;
  color:#294968;

  height:460px;
  width:320px;
}




/* code: css clocks */
/*** Normal Size ***/
/*
#cssclock { height: 270px; }
#clockanalog { background: #012345 url("/timeZone/images/analog.png") no-repeat 0 0; float: left; height: 250px; margin: 0; overflow: hidden; position: relative; width: 250px; }
#clockanalog img { border: 0; left: 0px; position: absolute; top: 0px; }
#clockdigital { background: #012345 url("/timeZone/images/digital.png") no-repeat 162px 99px; float: right; height: 250px; margin: 0; overflow: hidden; padding: 0; position: relative; width: 485px; }
#clockdigital div { background: #012345; height: 88px; position: absolute; width: 485px; }
#clockdigital div:last-child { bottom: 0; }
#clockdigital img { border: 0; display: block; height: 2000px; left: -1553px; margin: 0; padding: 0; position: absolute; top: -867px; width: 2000px; }
*/
/*** END Normal Size ***/



/* code: css clocks */
/*** 25% Clock ***/
/*
#cssclock { overflow:auto; }
#clockanalog { 
	background: #012345 url("/timeZone/images/analog25.png") no-repeat 0 0; 
	float: left; 
	height: 62px; 
	margin: 0; 
	overflow: hidden; 
	position: relative; 
	width: 62px; 
}

#clockanalog img { border: 0; left: 0px; position: absolute; top: 0px; }
#clockdigital { 
	background: #012345 url("/timeZone/images/digital25.png") no-repeat 41px 24.75px; 
	float: left; 
	height: 62.5px; 
	margin: 0; 
	overflow: hidden; 
	padding: 0; 
	position: relative; 
	width: 121px; 
}

#clockdigital div { 
	background: #012345; 
	height: 22px; 
	position: absolute; 
	width: 121px; 
}
#clockdigital div:last-child { bottom: 0; }
#clockdigital img { 
	border: 0; 
	display: block; 
	height: 500px; 
	left: -388px; 
	margin: 0; 
	padding: 0; 
	position: absolute; 
	top: -217px; 
	width: 500px; 
}
*/
/*** END 25% Clock ****/


/* code: css clocks */
/*** 50% Clock ***/

#cssclock { overflow:auto; }
#clockanalog { 
	background: #012345 url("/timeZone/images/analog50.png") no-repeat 0 0; 
	height: 124px; 
	margin: 10px auto; 
	overflow: hidden; 
	position: relative; 
	width: 124px; 
}

#clockanalog img { border: 0; left: 0px; position: absolute; top: 0px; }
#clockdigital { 
	background: #012345 url("/timeZone/images/digital50.png") no-repeat 82px 49.5px; 
	height: 125px; 
	margin: 10px auto; 
	overflow: hidden; 
	padding: 0; 
	position: relative; 
	width: 242px; 
}

#clockdigital div { 
	background: #012345; 
	height: 44px; 
	position: absolute; 
	width: 242px; 
}
#clockdigital div:last-child { bottom: 0; }
#clockdigital img { 
	border: 0; 
	display: block; 
	height: 1000px; 
	left: -776px; 
	margin: 0; 
	padding: 0; 
	position: absolute; 
	top: -434px; 
	width: 1000px; 
}

/*** END 50% Clock ****/


.differentTimeZones{
	padding:7px;
	text-align:center;
}

.tz{
  display:inline-block;
  padding:5px;
}

.tz:hover{
  cursor:pointer;
  color:#325980;
};








