body{
  background-color:#012345;
  color:#294968;
}




/* code: css clocks */
#cssclock { overflow:auto; }
#clockanalog { 
	background: #012345 url("/timeZone/images/analog25.png") no-repeat 0 0; 
	float: left; 
	height: 62px; 
	margin: 0; 
	overflow: hidden; 
	position: relative; 
	width: 62px; 
}

#clockanalog img { border: 0; left: 0px; position: absolute; top: 0px; }
#clockdigital { 
	background: #012345 url("/timeZone/images/digital25.png") no-repeat 41px 24.75px; 
	float: left; 
	height: 62.5px; 
	margin: 0; 
	overflow: hidden; 
	padding: 0; 
	position: relative; 
	width: 121px; 
}

#clockdigital div { 
	background: #012345; 
	height: 22px; 
	position: absolute; 
	width: 121px; 
}
#clockdigital div:last-child { bottom: 0; }
#clockdigital img { 
	border: 0; 
	display: block; 
	height: 500px; 
	left: -388px; 
	margin: 0; 
	padding: 0; 
	position: absolute; 
	top: -217px; 
	width: 500px; 
}




.tz{
  display:inline-block;
  padding:5px;
}

.tz:hover{
  cursor:pointer;
  color:#325980;
};








