body{
  background-color:#012345;
  color:#294968;
}




/* code: css clocks */
#cssclock { height: 270px; }
#clockanalog { background: #012345 url("/timeZone/images/analog.gif") no-repeat 0 0; float: left; height: 250px; margin: 0; overflow: hidden; position: relative; width: 250px; }
#clockanalog img { border: 0; left: 0px; position: absolute; top: 0px; }
#clockdigital { background: #012345 url("/timeZone/images/digital.gif") no-repeat 162px 99px; float: right; height: 250px; margin: 0; overflow: hidden; padding: 0; position: relative; width: 485px; }
#clockdigital div { background: #012345; height: 88px; position: absolute; width: 485px; }
#clockdigital div:last-child { bottom: 0; }
#clockdigital img { border: 0; display: block; height: 2000px; left: -1553px; margin: 0; padding: 0; position: absolute; top: -867px; width: 2000px; }




.tz{
  display:inline-block;
  padding:10px;
}

.tz:hover{
  cursor:pointer;
  color:#325980;
};








